Ervaren projectmanager in de Zorg-ICT.
Woont en <a href="https://maasstadziekenhuis.nl/">werkt</a> in de regio Rotterdam.
Echtgenoot en vader.
Snelle denker en beslisser.
Ontrafelt complexe problemen en situaties, maakt ze eenvoudig en brengt structuur aan.
Is er van overtuigd dat automatisering het leven beter en mooier kan maken.
<blockquote>
    "Laat de wereld een beetje mooier achter dan je haar aantrof."
    -- vrij naar <a href="https://en.wikisource.org/wiki/Last_message_to_scouts">Robert Baden Powell</a>
</blockquote>