<p>Ik ben een ervaren project- en programmamanager met ❤️ voor digitale zorg. 
Ontrafel complexe problemen en situaties, maak ze eenvoudig en breng structuur aan.
Werk samen met anderen mooie oplossingen uit.
Denk en beslis snel.
</p>
<p>
Woon en <a href="https://maasstadziekenhuis.nl/">werk</a> in de regio Rotterdam.
Ben echtgenoot en vader.
Kom liever in de natuur dan ondergedompeld te worden in cultuur. 
Heb interesse in wetenschap & techniek, vooral naar computers.
Wil het leven van mezelf en anderen makkelijker, beter en mooier maken door digitalisering en automatisering.
</p>
<blockquote>
    "Laat de wereld een beetje mooier achter dan je haar aantrof."
    -- vrij naar <a href="https://nl.wikisource.org/wiki/Laatste_boodschap_van_Robert_Baden-Powell">de laatste boodschap aan alle scouts ter wereld van Robert Baden Powell</a>
</blockquote>